.header-content {
	background-color: rgb(45, 47, 65);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 1.5rem;
    width: 100vw;
	max-width: 1024px;
}

.header-borda {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	margin-left: 0.5rem;
}

img {
	width: 1rem;
	margin: .3rem;
}

p {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: x-small;
	margin: 1.5rem;
}

.search-header {
	height: 2rem;
	border: 0;
	align-content: center;
	margin-bottom: 2rem;
	display: flex;
}

input {
	text-align: center;
	text-transform: uppercase;
	color: white;
}

input, span {
	background-color: #3e4050;
    display: flex;
    align-items: center;
    justify-content: space-around;
	height: 2rem;
	border: 0;
	align-content: center;
}

button {
	background-color: orange;
	padding: .2rem;
	height: 2rem;
	border: 0;
}

.header-center {
	display: flex;
	flex-direction: column;
}

.header-user {
	display: none;
	flex-direction: row;
	margin-left: .8rem;
	align-items: center;
}

.header-user hr {
	height: 2rem;
	opacity: .5;
}

.header-user img {
	width: 2.5rem;
	margin-left: 1rem;
	border-radius: 3rem;
}

@media (min-width: 520px) {
	.header-center {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.header-borda {
		margin-bottom: 0;
	}
	.search-header {
		margin-bottom: 0;
	}
	.header-user {
		display: flex;
	}
}


