<div class="content-menu-lateral">
	<div class="ico-menu-lateral">
		<img src="../../assets/ico/botao-de-inicio.png" />
		<span>Home</span>
	</div>
	<div class="ico-menu-lateral">
		<img src="../../assets/ico/bussola.png" />
		<span>Descubra</span>
	</div>
	<div class="ico-menu-lateral">
		<img src="../../assets/ico/marca-paginas.png" />
		<span>Marcadores</span>
	</div>
	<div class="ico-menu-lateral">
		<img src="../../assets/ico/config.png" />
		<span>Configurações</span>
	</div>
	<hr>
	<div class="content-seguindo">
		<span>Seguindo</span>
		<ul>
			<li> <img class="header-user" src="../../assets/img/default-login.png" /> </li>
		</ul>
	</div>
</div>
