<div class="content-card">
	<div class="card-icones">
		<span>Contos</span>
		<div class="card-social">
			<img src="../../assets/ico/coracao-g.png" />
			<img src="../../assets/ico/compartilhar.png" />
		</div>
	</div>
	<a [routerLink]="['artigos', id]">
		<div class="card-img">
			<img  src="{{ photoCover }}" />
		</div>
		<h3 class="card-titulo">{{ cardTitle }}</h3>
		<p class="card-text">{{ cardDescription }}</p>
		<div class="card-dados">
			<span>{{ cardData }}</span>
			<h5>{{ cardAutor }}</h5>
		</div>
	</a>

</div>
