<div class="content-card">
	<div class="card-icones">
		<span>Contos</span>
		<div class="card-social">
			<img src="../../assets/ico/coracao-g.png" />
			<img src="../../assets/ico/compartilhar.png" />
		</div>
	</div>
	<div class="card-img">
		<img  src="../../assets/img/capa2.jpg" />
	</div>
	<h3 class="card-titulo">Título da postagem do blog</h3>
	<p class="card-text">Aqui eu vou escrever uma prévia do artigo, e essa prérevia nao pode passar de 3 linhas </p>
	<div class="card-dados">
		<span>27/04/2023</span>
		<h5>Lucas Afonso</h5>
	</div>
</div>
